**/[Dd]ebug
**/[Dd]ebug Unicode
**/[Rr]elease
**/[Rr]elease Unicode
/ipch
/lib
/lib64
/.idea
/.vs
/Updates
/package
/*.aps
/*.db
/*.m3u8
/*.opendb
/*.ncb
/*.suo
**/*.user
/*.opensdf
/*.sdf
/*.log
/*.zip
/VerGIT.h
stream_info.bin
/*.~slp
/*.resorg
/Updater/*.log
