[submodule "SevenZip"]
	path = SevenZip
	url = https://github.com/KocourKuba/7zip-cpp.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "playlists"]
	path = playlists
	url = https://github.com/KocourKuba/playlists.git
[submodule "thread-pool"]
	path = thread-pool
	url = https://github.com/bshoshany/thread-pool.git
