[submodule "SevenZip"]
	path = SevenZip
	url = https://github.com/KocourKuba/7zip-cpp.git
[submodule "BugTrap"]
	path = BugTrap
	url = https://github.com/KocourKuba/BugTrap.git
[submodule "ChannelsLists"]
	path = ChannelsLists
	url = https://github.com/KocourKuba/ChannelsLists.git
