**/[Dd]ebug
**/[Dd]ebug Unicode
**/[Rr]elease
**/[Rr]elease Unicode
*.user
*.~slp
*.aps
*.db
*.log
*.m3u8
*.ncb
*.opendb
*.opensdf
*.resorg
*.sdf
*.suo
*.zip
/.idea
/.vs
/_vcpkg
/ArchivePDB
/CommonDll
/ipch
/lib
/lib64
/package
/Updates
/VerGIT.h
stream_info.bin
SrcSrvOut.txt
